#form-title-header {
  display: none;
}
.cf-section-header {
  padding: 5px 5px 5px 10px;
  background-color: #203864;
  border-bottom-color: #cccccc;
  border-radius: 5px;
}

.form-q.cf-section-header h2 {
  color: white;
  font-size: 13px;
}

#q112,
#q113 {
  display: inline-block;
}
#q112 .cf-field {
  width: 25px;
}
#q112 .cf-medium {
  width: 100%;
}
#q113 .cf-field {
  width: 25px;
}
#q113 .cf-medium {
  width: 100%;
}

#q114,
#q115 {
  display: inline-block;
}
#q114 .cf-field {
  width: 25px;
}
#q114 .cf-medium {
  width: 100%;
}
#q115 .cf-field {
  width: 25px;
}
#q115 .cf-medium {
  width: 100%;
}

#q119,
#q120 {
  display: inline-block;
}
#q119 .cf-field {
  width: 25px;
}
#q119 .cf-medium {
  width: 100%;
}
#q120 .cf-field {
  width: 25px;
}
#q120 .cf-medium {
  width: 100%;
}

#q126,
#q127 {
  display: inline-block;
}
#q126 .cf-field {
  width: 25px;
}
#q126 .cf-medium {
  width: 100%;
}
#q127.cf-field {
  width: 25px;
}
#q127.cf-medium {
  width: 100%;
}

#q68 ul {
  padding-left: 20px;
}

/* Set two columns for Signature annd Data */
#q101,
#q102 {
  float: left;
  display: inline;
  width: 49%;
  text-align: left;
}
